.bad {
  color: hsl(0, 100%, 70%);
}


@media only screen and (max-width: 600px) {
  .katex-container{
    max-width: 100%;
    overflow-x: scroll;
  }
}

#case {
  position: absolute;
  float: left;
  font-size: 24px;
  transform: translate(10px, 5px);
}